{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Category:{{cat}}</h2>

</div>
<div class="container" id="listings">
    {% for item in items %}
    <div class="card mb-3" style="max-width: 540px;" id="card-listings">
        <a href="{% url 'listingpage' item.id %}">
        <div class="row no-gutters">
            <img style="width: 200px; height: auto; style: inline-block;" src="{{item.link}}" class="card-img" alt="...">
            <div class="card-body" >
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="card-text">${{item.price}}</p>
                <br>
                <a href="{% url 'listingpage' item.id %}"><button class="btn btn-outline-success">Bid Now!</button></a>
              <p class="card-text"><small class="text-muted">{{item.time}}</small></p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
     <!--if closedbid-->
    {% for j in wonitems %}
              {% if i.listingid == j.listingid %}
              <p class="card-text"><b>Winning Bid:</b>${{j.winprice}}</p>
              <p class="card-text"><b>Owner:</b>{{j.owner}}</p>
              {% endif %}
              {% endfor %}
</div>
{% endblock %}