{% extends "auctions/layout.html" %}
{% block body %}
<div class="container">
    <!--show listing item-->
    <h2>Listing:{{item.title}}</h2>
    <div class="container" style="text-align: center;">
        <img src="{{item.link}}" width="30%" alt="...">
    </div>
    <br>
    <!--show item description-->
    <p><b>Description:</b>{{item.description}}</p>
    <br>
    {% if user.username %}
    <p>
        <!--If the item is already on the watchlist, the user should be able to remove it or add to watchlist-->
      {% if added %}
      <a href="{% url 'removewatchlist' item.id %}"><button class="btn btn-danger">Remove from watchlist</button></a>
      {% else %}
      <a href="{% url 'addwatchlist' item.id %}"><button class="btn btn-success">Add to watchlist</button></a>
      {% endif %}
    </p>
    <br>
    {% endif %}
    <h3>Current Bid:${{item.price}}</h3>
    {% if user.username %}
    <!-- If the user is signed in and is the one who created the listing, the user should have the ability to “close” the auction-->
        {% if owner %}
        <br>
        <a href="{% url 'closebid' item.id %}"><button class="btn btn-warning">Close Bid</button></a>
        <br>
        {% endif %}
    {% endif %}
    <br>
    <p><b>Details:</b>
    <ul>
        <li><b>Owner:</b>{{item.owner}}</li>
        <li><b>Category:</b>{{item.category}}</li>
        <li><b>Created on:</b>{{item.time}}</li>
    </ul>
    <!--if closedbid-->
    {% for j in wonitems %}
              {% if i.listingid == j.listingid %}
              <p class="card-text"><b>Winning Bid:</b>${{j.winprice}}</p>
              <p class="card-text"><b>Owner:</b>{{j.owner}}</p>
              {% endif %}
              {% endfor %}

    <!-- show error if bid is smaller than current price-->
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
    {% if errorgreen %}
    <div class="alert alert-success" role="alert">
        {{errorgreen}}
      </div>
    {% endif %}
    {% if user.username %}
    <div class="container">
        <h4>Place your bid:</h4>
        <!--If the user is signed in, the user should be able to bid on the item.-->
        <form action="{% url 'bidsubmit' item.id %}" method="POST">
            {% csrf_token %}
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <input type="number" class="form-control mb-2" id="inlineFormInput" name="bid" placeholder="your bid...">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
              </div>
        </form>

    </div>
    <br>
    <div class="container">
        <!--Users who are signed in should be able to add comments to the listing page-->
      <form action="{% url 'cmntsubmit' item.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><b>Write a comment:</b></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" placeholder="Write your comment here..." required></textarea>
        </div>
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </div>
    <br>
    {% endif %}
    {% if comments %}
    <h3>Comments:</h3>
    <div class="container">
          <!--show all comments-->
          {% for c in comments %}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{c.user}}</h5>
                  <p class="card-text">{{c.comment}}</p>
                  <p class="card-text"><small class="text-muted">{{c.time}} UTC</small></p>
                </div>
              </div>
            </div>
          </div>
           {% endfor %}
           
    </div>
    {% endif %}
</div>

{% endblock %}